%h2 Installation

%ol.installation_steps

  - if logged_in?
    %li.complete Sign in.
  - else
    %li= link_to "Sign in with Twitter.", "/auth/twitter"      

  %li= link_to "Install the Chrome extension.", "https://chrome.google.com/webstore/detail/mbinhgdjnejaecocmffcfajgjmcnddik"
  %li
    Set 
    = link_to("Queriac JS Engine", engine_path)
    as your 
    = link_to "default search engine", asset_path("chrome_settings.png")
    in Chrome.

%h2 Users

%ul.users
  = render partial: "users/listed_user", collection: @users