= semantic_form_for [current_user, @command] do |f|

  = f.inputs do

    = f.input :script, :as => :hidden
    #editor

    = f.input :name
    = f.input :keyword
    =# f.input :description
  
  = f.actions do
    = f.action :submit