- owner = logged_in? && @command.user == current_user
%h2
  = @command.name
  %span.weak= "(#{@command.keyword})"

- if @command.description.present?
  %p= @command.description

= semantic_form_for [@command.user, @command] do |f|

  = f.inputs do
    = f.input :script, :as => :text

- if owner
  This command belongs to you. You can 
  = link_to "edit", edit_user_command_path(current_user, @command.keyword)
  or 
  = link_to("delete", user_command_path(current_user, @command.keyword), :method => :delete)  
  it.
- elsif logged_in?
  This command belongs to 
  = link_to(@command.user.nickname, @command.user) + ","
  but you can 
  = link_to("fork it", fork_user_command_path(@command.user, @command.keyword), :class => "fork", :title => "Fork it!") + "."


- if owner && @command.queries.present?

  %h3
    Your Queries
    %span.weak (Private)
  
  %ul
    - @command.queries.each do |query|
      %li= query.input

  