!!!
%html
  %head
    %title queriac
    = stylesheet_link_tag "application", :media => "all"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Open+Sans:400,700"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    #content
    
      #header
      
        %h1
          = link_to "Queriac", root_path
          - unless logged_in?
            %span
              turns your address bar into a javascript command line.
              
              
        - if logged_in?
          %ul#nav
            %li= link_to(current_user.nickname, current_user)
            %li= link_to("New Command", new_user_command_path(current_user))
            %li= link_to "Sign Out", signout_path

      = yield