!!!
%html
  %head
    %title queriac
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    #content
    
      #header
      
        %h1
          = link_to "Queriac", root_path
          - unless logged_in?
            %span
              turns your address bar into a javascript command line.
              It's an open source project powered by rails, chrome,
              and heroku.
              
        %ul#nav
          - if logged_in?
            %li= link_to("My Account", current_user)
            %li= link_to("New Command", new_user_command_path(current_user))
          %li= link_to("Help", help_path)
          - if logged_in?
            %li= link_to "Sign Out", signout_path
          - else
            %li= link_to "Sign in with Twitter", "/auth/twitter"

      #main
        = yield